/*Amyr, Eleanor, and Laura's Coding Dojo CSS Exercise 3*/
*{
    font: inherit;
    font-family: arial, verdana, sans-serif;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
}
h1{
    font-size: none;
} 
ol, ul {
    list-style: none;
    margin-left: 20px;
    font-size: none;
}

#container{
	width:960px;
    margin:0px auto;
}

#header{

}
    #header #logo{
        width: 450px ;
        height: 125px;
        float: left;
    }
        #header #logo img {
            padding-top: 40px;
        }
    #header #menu{
        width: 500px;
        height: 125px;
        float:left;
    }

        #header #menu ul {
            width: 350px;
            height: 25px;
            background-color: rgb(249,249,249);
            border: 1px solid rgb(234,234,234);
            border-top: 0px;
            border-radius:0px 0px 5px 5px;
            margin-left: 50px;
            display: inline;
            padding: 5px 0px 8px 8px;
            font-size: 11px;
        }

            #header #menu ul li {
                display: inline;
                border-right: 1px solid grey;
                padding:0px 8px;
                color: grey;
            }

            #header #menu ul li:last-child {
                border-right: 0px;
            }

        #header #menu a.btn {
            margin-left: 25px;
            padding: 2px 17px 7px 17px;
            color:white;
            font-size: 12px;
            text-decoration: none;
        }

    #header h1 {
        clear:both;
        height: 60px;
        font-size: 23px;
        color: white;
        padding-left: 10px;
        line-height: 60px; /*vertical align for text*/

    }

a.btn-blue {
    border:1px solid rgb(116,174,203);
    border-radius: 4px;
    background: linear-gradient(to top, rgb(24,122,175) 49%, rgb(24,122,175) 50%, rgb(66,152,199) 88%);
}

h1.banner {
    border:1px solid rgb(116,174,203);
    background: linear-gradient(to bottom, rgb(20,108,156) 7%, rgb(66,150,199) 50%, rgb(20,108,156) 93%);
}

/*Eleanor*/

#main-content
{
    clear:top;
    float: right;
    min-height: 400px;
    width: 710px;
    margin-left: 160;
    /*border: 3px solid red;*/
}

#main-content ul
{
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

#main-content li
{
    color: black;
}

#main-content li:before
{

    content:'\2022';
    color: #137ABE;
}

#main-content span
{

    font-weight: bold;
}

#main-content h2
{
    color: #137ABE;
    font-weight: bold;
}

#main-content h4 span
{
    font-weight: bold;
}

#main-content h5
{
    font-weight: bold;
    color: #3C81B3;
}

#middlebox
{
    padding-left: 10px;
    padding-right: 10px;
    border: 6px solid #86BBDA;
}

#middlebox img
{
    float: left;
}

 button.myButton
 {        
    -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    box-shadow:inset 0px 1px 0px 0px #d9fbbe;
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
    background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
    
    background-color:#b8e356;
    
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    
    border:1px solid #83c41a;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;    
    text-shadow:0px 1px 0px #86ae47;        
}
    button.myButton:hover
    {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
        background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
        background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
        background-color:#a5cc52;
    }
    button.myButton:active
    {
        position:relative;
        top:1px;
    }


