/*Amyr, Eleanor, and Laura's Coding Dojo CSS Exercise 3*/
*{
    font: inherit;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: baseline;
} 
ol, ul {
    list-style: none;
    font-size: 11px;
    margin-left: 20px;
}
#container{
	background-color: grey;
	width:960px;
}
